// TRELLO
$primary-black-trello: #222222;
$secondary-black-trello: #2c2c2e;
$primary-blue-trello: #003060;
$secondary-blue-trello: #00407e;
$tertiary-blue-trello: #004972;
$background-color-trello: #0079be;

// LINKEDIN
$primary-black-linkedin: #000000;
$secondary-black-linkedin: #1d2226;
$tertiary-black-linkedin: #282828;
$primary-blue-linkedin: #73b4f8;
$secondary-blue-linkedin: #70b5fa;
$background-color-linkedin: #000000;

// STEAM
$primary-black-steam: #000000;
$secondary-black-steam: #171a21;
$tertiary-black-steam: #241e24;
$background-color-steam: #252831;

// GALERIE
$primary-black-gallery: #000000;
$secondary-black-gallery: #282828;
$background-color-gallery: #000000;

// MUSIQUE
$primary-blue-music: #22233f;
$primary-black-music: #282828;
$background-color-music: #2a2c53;

// NETFLIX
$primary-black-netflix: #000000;
$background-color-netflix: #000000;

// CALCULATRICE
$primary-black-calculator: #111111;
$secondary-black-calculator: #000000;
$tertiary-black-calculator: #282828;
$background-color-calculator: #111111;
$blue-font-calculator: #88b5f8;

// DASHLANE
$primary-green-dashlane: #0e353d;
$primary-black-dashlane: #282828;
$background-color-dashlane: #111111;

// NOTES
$primary-black-notes: #2e2f33;
$background-color-dashlane: #1f1f1f;

// GMAIL
$primary-black-gmail: #1f1f1f;
$secondary-black-gmail: #2e2f33;
$background-color-gmail: #1f1f1f;

// MESSAGES
$primary-black-messages: #202125;
$secondary-black-gmail: #2e2f33;
$background-color-gmail: #202125;
