.phone {
  background: no-repeat url(../../images/decorations/phone_background.jpg);
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 90px;
  p {
    margin: 0;
  }
  &__hour {
    font-size: 90px;
    font-weight: 300;
  }
  &__date {
    font-size: 20px;
  }
}

.apps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 50px;
  margin-top: 55px;
  color: white;
  font-size: 12px;
  &__app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      cursor: pointer;
    }
    p {
      margin: 15px 0 0 0;
    }
  }
}

.bottom_apps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 50px;
  margin-top: 95px;
  color: white;
  font-size: 12px;
  img {
    cursor: pointer;
  }
  &__app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .phone {
    background: no-repeat center
      url(../../images/decorations/phone_background.jpg);
  }

  .clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 90px;
    p {
      margin: 0;
    }
    &__hour {
      font-size: 80px;
      font-weight: 300;
    }
    &__date {
      font-size: 20px;
    }
  }

  .apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 50px;
    margin-top: 55px;
    color: white;
    font-size: 12px;
    &__app {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        cursor: pointer;
      }
      p {
        margin: 15px 0 0 0;
      }
    }
  }

  .bottom_apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 50px;
    margin-top: 95px;
    color: white;
    font-size: 12px;
    img {
      cursor: pointer;
    }
    &__app {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-height: 675px) {
  .phone {
    background: no-repeat center
      url(../../images/decorations/phone_background.jpg);
  }

  .clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5vh;
    p {
      margin: 0;
    }
    &__hour {
      font-size: 80px;
      font-weight: 300;
    }
    &__date {
      font-size: 20px;
    }
  }

  .apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 50px;
    margin-top: 55px;
    color: white;
    font-size: 12px;
    &__app {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        cursor: pointer;
      }
      p {
        margin: 15px 0 0 0;
      }
    }
  }

  .bottom_apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 50px;
    margin-top: 95px;
    color: white;
    font-size: 12px;
    img {
      cursor: pointer;
    }
    &__app {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
